<template>
  <div id="goodcause">
    <Header />
    <div class="container px-8 mx-auto">
      <!-- Good cause-->
      <div class="flex flex-wrap mb-4 pb-32 pt-16 -mx-2">
        <div class="flex mb-4 pb-8 pt-8">
          <div class="w-3/4 mx-auto text-center">
            <h2 class="naslov">Votează pentru dreptul la copilărie!</h2>
            <!--       <p class="pt-5 text-white">Djeca su oslobodila maštu i jedinstvene <span class="font-bold">SAGOSKATT</span> igračke ugledale su svjetlo dana. Sad je došlo vrijeme za igru, ali i za korak dalje – za dobrotvorne svrhe.</p> -->
            <p class="pt-5 text-white">
              Copiii și-au dat frâu liber imaginației, iar jucăriile
              <span class="font-bold">SAGOSKATT</span> au văzut lumina zilei. Acum, e timpul să ne jucăm, dar și să facem un pas înainte pentru o cauză nobilă.
            </p>
            <p class="pt-5 text-white">
              <span class="font-bold">100% din vânzările jucăriilor SAGOSKATT</span> vor fi donate uneia dintre organizațiile din listă care contribuie la fericirea și calitatea vieții copiilor din România.
            </p>
            <p class="pt-5 text-white">
             Printre alte <a target="_blank" class="underline" href="https://www.ikea.com/ms/ro_RO/ikea-family/IKEA_FAMILY_benefits2019.html"><strong>beneficii</strong></a>, ca membru  <strong>IKEA Family,</strong> poți să votezi proiectele și inițiativele în care crezi. Dintre cele trei organizații, alege-o pe cea care va primi fondurile și, în același timp, șansa de a-și dezvolta și mai mult activitățile pentru o cauză nobilă. 
            </p>
            <p class="pt-5 text-white">
              Încă nu faci parte din clubul <strong>IKEA Family?</strong>  Poți să devii membru <a target="_blank" href="https://secure.ikea.com/webapp/wcs/stores/servlet/CreateUser?formName=createFamilyUser&storeId=38&langId=-48&_ga=2.116333313.60707463.1574939721-236813648.1574939721"><strong>aici</strong></a> .
            </p>
          </div>
        </div>
        <div
          v-for="(udruga, index) in udruge"
          :key="udruga.catID"
          class="w-full px-2 py-6 sm:py-0 sm:w-1/2 md:w-1/3 mx-auto text-left relative"
        >
          <img class="object-contain w-full" :src="udruga.slikaUdruge" alt="asociații" />
          <span class="font-bold block py-5 text-white text-base">{{udruga.naslovUdruge}}</span>
          <p class="text-white text-sm">
            {{udruga.text}}
            <!--     Savez DND je nevladina i neprofitna krovna udruga koja od 1950. godine okuplja, potiče i pomaže Društvima „Naša djeca“ u promociji i zagovaranju dječjih prava te provođenju raznovrsnih besplatnih aktivnosti s djecom i za djecu. Istaknuli su se programima za podizanje standarda zdravstvene skrbi djece, za edukaciju djece o vlastitim pravima, za doprinos dječjoj književnosti i brojnim drugim nacionalnim akcijama. Između ostalog, članovi Saveza vjeruju da je igra jedno od osnovnih prava svakog djeteta. -->
          </p>
          <!-- https://savez-dnd.hr/ -->
          <div class="VoteDolje">
            <a target="_blank" class="text-sm plavitx" :href="udruga.link">
              →
              Află mai multe
            </a>
            <button
              @click="show(index, $event)"
              class="w-full plavi_gumb py-4 px-4 my-4 rounded btn"
            >Votează</button>
             <div class="md:w-1/3 mx-auto pb-5 text-center">
                                  <img src="@/assets/like.svg" class="likeModal" alt="like" />
                                    <p class="likeCountModal ml-0 text-black">
                                      {{udruga.brojGlasova}}
                                    </p>
                              </div>
          </div>

        </div>
        <!-- html comment -->
      </div>
      <!-- MODAL -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="flex relative flex-col-reverse sm:flex-row modal-body">
            <div class="leftModal">
              <h2 class="naslovModal">{{this.selectedObject.naslovUdruge}}</h2>
              <!-- <p class="autorModal">{{this.selectedObject.autor}}sd</p> -->
              <!-- v-if="this.selectedObject.sakrij" -->
              <div v-if="this.selectedObject.sakrij" class="sakri">
                <div @click="prijeGlasaj($event)" class="likeGroup">
                  <img src="@/assets/like.svg" class="likeModal" alt="like" />
                  <p class="likeCountModal text-black">
                    <a href="#">{{this.selectedObject.brojGlasova}}</a>
                  </p>
                </div>
                <!--  v-if="this.selectedObject.otkrijGlasovanje" -->
                <div class="formModal pt-4">
                  <input
                    v-model="ifamNum"
                    :class="error"
                    class="inputModal"
                    type="text"
                    name="ikeaCard"
                    placeholder="Introdu numărul cardului tău IKEA Family"
                  />
                  <br />
                  <vue-recaptcha
                    class="g-recaptcha"
                    ref="recaptcha"
                    @verify="onVerify"
                    @expired="onExpired"
                    :sitekey="sitekey"
                  ></vue-recaptcha>
                  <button
                    class="submitModal btn pb-3 mt-3 text-black"
                    type="submit"
                    @click="glasaj($event)"
                  >Votează pentru asociere</button>
                </div>
              </div>
              <!--  Otkrij glas -->
              <div v-if="this.selectedObject.zavrsenoGlasovanje">
                <div class="likeGroup">
                  <img src="@/assets/likePlavi.svg" class="likeModal" alt="albastru like" />
                  <p class="likeCountModal">{{this.selectedObject.brojGlasova}}</p>
                  <p class="text-sm pt-4">Votul dvs. a fost primit cu succes!</p>
                </div>
              </div>
              <button @click="hide" class="gumbModal btn">Înapoi la lista asociațiilor</button>
            </div>
            <div class="rightModal">
              <a @click="hide" href="#">
                <img class="zatvori" src="@/assets/x_close.svg" alt="close" />
              </a>
              <img
                :src="this.selectedObject.slikaUdruge"
                class="imgModal mala-slika"
                alt="imagine mică"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Velika slika -->
    <div id="velikaSlika" class="container px-8 mx-auto">
      <img class="object-contain w-full" src="@/assets/good_cause.jpg" alt="good cause" />
    </div>
    <!--   Tx ispod slike-->
    <div class="container mx-auto px-8 pt-10 pb-20 text-center text-white">
      <!--     <p class="pb-8"><span class="font-bold">SAGOSKATT igračke</span> imaju <span class="font-bold">plemeniti cilj</span> – pomoći djeci diljem Hrvatske. Prihod od prodaje igračaka donirat će se jednoj od udruga posvećenih dobrobiti djece u Hrvatskoj. <span class="font-bold">IKEA Family</span> članovi ovdje mogu glasati za udrugu koja je u najvećoj mjeri osvojila njihova srca, a prikupljena sredstva donirat ćemo udruzi s najviše osvojenih glasova.
      </p>-->
      Când cumperi
      <span class="font-bold">jucăriile SAGOSKATT,</span> susții o
      <span class="font-bold">cauză nobilă,</span> în ajutorul copiilor din România. Sumele din vânzări vor fi donate uneia dintre organizațiile dedicate acestor cauze. Membrii
      <span class="font-bold">IKEA Family</span> pot să voteze aici organizația care le-a câștigat inima, iar noi vom dona fondurile către cea mai votată organizație.
    </div>
    <Footer1 />
  </div>
</template>
<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Footer1 from "@/components/Footer1.vue";
import VueRecaptcha from "vue-recaptcha";
import axios from 'axios'
// import on your project (less then 1KB gziped)

// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
  name: "home",
  components: {
    Header,
    Footer1,
    VueRecaptcha
  },
  data() {
    return {
      error: false,
      ifamNum: "",
      reCaptchaPass: false,
      numVotes: [],
      sitekey: "6LcCmcMUAAAAAN9RyQdRxcNuSthCqNpP-gKVTMQD",
      sucess: true,
      recaptchaResponse: "",
      // otkrijGlasovanje: false,
      selectedObject: "",
      udruge: [
        {
          naslovUdruge: "Hope and Homes for Children",
          slikaUdruge: require("@/assets/Hope-and-Homes.jpg"),
          catID: 244,

          brojGlasova: 0,
          autor: "Goran K. sddfsdsf",
          heartIcon: require("@/assets/srce.svg"),
          link: "http://www.hopeandhomes.ro",
          klasa: "bg1",
          otkrijGlasovanje: false,
          zavrsenoGlasovanje: false,
          sakrij: true,
          text:
            "38% dintre copiii României trăiesc în sărăcie; nu au haine, încălțăminte și, uneori, nici mâncare. Iar jucăriile „adevărate” sunt doar un vis. Hope and Homes for Children luptă pentru drepturile tuturor copiilor de a avea o casă, o familie și, de ce nu, o jucărie. Ajută-i și tu pe acești copii să se bucure de copilărie! Despre eforturile noastre de a închide toate orfelinatele din România și a oferi fiecărui copil șansa de a spune „acasă”, descoperă aici. "
        },
        {
          naslovUdruge: "MagiCAMP",
          slikaUdruge: require("@/assets/Magiccamp.jpg"),
          catID: 245,
          link: "https://www.facebook.com/watch/?v=2372756796331686",
          brojGlasova: 0,
          autor: "Goran K.",
          heartIcon: require("@/assets/srce.svg"),
          imageModal: require("@/assets/Magiccamp.jpg"),
          klasa: "bg2",
          otkrijGlasovanje: false,
          zavrsenoGlasovanje: false,
          sakrij: true,
          text:
            "An de an, vedem cum sute de copii ajung să treacă peste amintirile lunilor petrecute în spitale, să își regăsească stima de sine, independența și dorința de a construi prietenii. Cu fiecare an, ne dăm seama cât de importantă este regăsirea copilăriei furate de cancer și alte afecțiuni grave. Distracția, sub supraveghere medicală de specialitate, e scopul nostru. Noi, la MagiCAMP, luăm joaca în serios, nu degeaba motto-ul nostru este Joacă la Greu! Vezi o parte din magie aici"
        },
        {
          naslovUdruge: "Help Autism",
          slikaUdruge: require("@/assets/Help-Autism.jpg"),
          catID: 246,
          link: "http://www.helpautism.ro",
          brojGlasova: 0,
          autor: "Goran K.",
          heartIcon: require("@/assets/srce.svg"),

          klasa: "bg3",
          otkrijGlasovanje: false,
          zavrsenoGlasovanje: false,
          sakrij: true,
          text:
            "Un copil din 59 are o minte aparte. Copilul colegului, vecinului, prietenului tău sau poate chiar copilul tău este un copil aparte, cu o minte aparte. Copiii cu autism au și ei dreptul la joacă chiar dacă mai întâi au nevoie de înțelegere, acceptare, terapie și sprijin. Visăm un mâine în care copiii cu autism să facă real parte din comunitate, plănuim un mâine în care să fim cu toții pregătiți să spunem Let’s play! Visează și tu alături de ei."
        }
      ]
    };
  },
  mounted() {
    console.log("test");

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("zatvori")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
      modal1.style.display = "none";
      modal2.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  },
  methods: {
    show(index, event) {
      // this.$modal.show('hello-world');
      // let element = e.$refs.modal.$el
      // Get the button that opens the modal
      // var btn = document.getElementById("myBtn");
      //Pokazi modal
      console.log(event);
      var modal = document.getElementById("myModal");
      modal.style.display = "block";

      this.selectedObject = this.udruge[index];
    },

    hide() {
      console.log("pvdje");

      //Ugasi Modal
      document.getElementById("myModal").style.display = "none";
    },

    //ovo je za paginaciju
    clickCallback: function(page) {
      console.log(page);
    },
    glasaj(event) {
      event.preventDefault();
      // console.log('sdfsdf')
      console.log(this.ifamNum);

      //povecaj glas

      //trebaš imati točan broj family kartice
      if (this.ifamNum.length == 19 && this.ifamNum.includes("627598046")) {
        console.log("imas 19 znakova i tocne brojeve");
        this.saveVote();
        // this.selectedObject.zavrsenoGlasovanje = true;
        // this.selectedObject.sakrij = false;
        // this.selectedObject.brojGlasova++;
      } else {
        this.error = true;
        console.log("nemas 19 znakova");
        console.log("IFAM error");
        alert("Număr incorect de card IKEA Family.");
        //         var errorRed = document.getElementsByClassName("inputModal");
        // errorRed.classList('error');
      }

      // if (this.sakrij && !this.error) {
      //                   this.sakrij = false
      //               } else {
      //                   this.sakrij = true
      //                   this.otkrij = true
      //               }

      // this.brojGlasova++
    },
    prijeGlasaj(event) {
      this.selectedObject.otkrijGlasovanje = true;
      // console.log(event)
      // console.log(otkrijGlasovanje)
    },
    onSubmit() {
      console.log("onsubmit");
      // ifamNum
      this.$refs;
    },
    onVerify(response) {
      //console.log(response);
      this.recaptchaResponse = response;

    },
    onExpired() {
      console.log("Expired");
    },
    saveVote() {
      var ifamNum = this.ifamNum.toString();
      var orgId = this.selectedObject.catID.toString();
      var reCapResp = this.recaptchaResponse;
      axios({
        method: "post",
        url: "https://digital.bbdo.hr/mastaApi/ro/organizations/saveVote.php",
        headers: {
          "Content-Type": "application/json"
        },
        data: {
          ikea_id: ifamNum,
          item_id: orgId,
          captcha_resp: reCapResp
        }
      }).then(response => {
        console.log(response);
        if(response.data == 1){
            this.selectedObject.zavrsenoGlasovanje = true;
            this.selectedObject.sakrij = false;
            this.selectedObject.brojGlasova++;
        }
       
      });

       // else{
       //      alert('A apărut o eroare. Ați votat deja.');
       //  }
    },
    getVoteNum() {
      axios
        .get("https://digital.bbdo.hr/mastaApi/ro/organizations/vote.php")
        .then(response => {
          //this.posts = response.data;
          console.log(response.data);
          this.numVotes = response.data;
          this.udruge[0].brojGlasova = this.numVotes[0].votes;
          this.udruge[1].brojGlasova = this.numVotes[1].votes;
          this.udruge[2].brojGlasova = this.numVotes[2].votes;
          console.log(this.udruge)
        })
        .catch(e => {
          console.error(e);
        });
    }
  },
  mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
    this.getVoteNum();
  },
  metaInfo: {
    title: "IKEA - Votează pentru dreptul la copilărie",
    meta: [
      // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
      // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
      {
        name: "description",
        content:
          "100% din vânzările jucăriilor SAGOSKATT vor fi donate uneia dintre organizațiile din listă"
      },
      { name: "keywords", content: "ikea, organizații, vot, donație" }
    ]
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>