<template>
    <div id="home">
        <Header />
         <div class="container px-8  mx-auto home_container">
        <!-- Lets play-->
        <div class="flex mb-4 pb-8 pt-8">
            <div class="w-full mx-auto text-center">
                <h2 class="naslov pb-5">Împreună, creăm jucării de vis!</h2>
                <p>La IKEA, prietenii imaginari ai celor mici pot să prindă viață. În atelierele „Să ne jucăm”, fiecare copil va primi șansa de a crea jucăria visurilor sale, folosind linii și culori.  <br><br>
   
        Desenele selectate vor servi drept model pentru jucării adevărate de pluș, din colecția IKEA <a href="#">SAGOSKATT</a>. E timpul ca imaginația copiilor noștri să devină realitate!
     </p>
            </div>
        </div>
        <!-- Gumbi -->
        <div class="flex">
            <div class="w-3/4 mx-auto text-center">
                <!-- <button class="zuti_gumb py-4 px-4 rounded ">
                    <router-link to="/glasuj-za-svog-favorita">Glasaj za svog favorita</router-link>
                    
                </button><br> -->
                
                <router-link to="/cum-participi"><button class="plavi_gumb rounded btn">Participă</button></router-link>
            </div>
        </div>
    </div>
        <Footer2 />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer2 from '@/components/Footer2.vue'
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer2,
        
    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
   metaInfo: {
        title: 'IKEA - Să ne jucăm!',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'În atelierele „Să ne jucăm”, fiecare copil va primi șansa de a crea jucăria visurilor sale, folosind linii și culori.' },
            { name: "keywords", content: "ikea, să ne jucăm, desene, jucării, 2019" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>