<template>
    <div id="kakosudjelovati">
        <Header />
        <div class="container kakosudjelovati_content px-8  mx-auto">
        <!-- Kako sudjelovati-->
        <div class="flex mb-4 py-5">
            <div class="w-3/4 mx-auto text-center">
                <h2 class="naslov">Cum participi</h2>
            </div>
        </div>
        <!--  1 -->
        <div data-aos="fade-right" class="block sm:flex py-8 sm:py-16 flex-col sm:flex-row">
            <div class="w-full sm:w-2/3 order-2 sm:order-1 mx-auto block sm:flex text-left">
                <span  class="pr-6 pt-2"> <img  src="@/assets/1.svg" alt="1"></span>
                <section class="w-5/6">
               <!--      Prema  <router-link to="/raspored-crtanja"><span class="underline font-bold">rasporedu</span></router-link> <span class="font-bold"> djeca do 12 godina </span> crtat će svoju igračku iz snova u <span class="font-bold">robnoj kući IKEA</span>. Kako bi igračka bila baš onakvom kakvom je zamišljaju, djeca će se moći poslužiti olovkama, bojicama i flomasterima. -->

                    <span class="font-bold">Copiii de până la 12</span> ani își vor desena jucăriile imaginate în magazinul IKEA, conform <router-link to="/programul-atelierelor-de-desen"><span class="underline font-bold">programului.</span></router-link> Ca să fie întocmai jucăriile la care se gândesc, copiii vor avea la dispoziție creioane, culori și markere. 
                </section>
            </div>
            <div class="w-full sm:w-1/3 order-1 px-0 sm:px-3 sm:order-2 mx-auto text-center">
                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/kakosludjelovati_curica.jpg" alt="small girl">
            </div>
        </div>
        <!--  2 -->
        <div data-aos="fade-left" class="block sm:flex py-8 sm:py-16">
            <div class="w-full sm:w-4/5 mx-auto sm:ml-auto block sm:flex text-left">
                   <span class="pr-6 pt-2"> <img src="@/assets/2.svg" alt="2"></span>
                <section class="w-5/6">
                  <!--   IKEA FAMILY članovi. Roditelje ili zakonske skrbnike molimo da ispune i svojim potpisom prihvate <a href="static/HR-Pravila-i-uvjeti.pdf" target="_blank"><span class="underline font-bold">uvjete sudjelovanja</span></a> i predaju nam obrazac zajedno s crtežom.<br> -->


               Pot participa la concurs doar copiii ai căror părinți sau tutori sunt membri în programul IKEA Family. Părinții și tutorii sunt rugați să completeze și semneze formularul, să accepte <a href="static/Termeni-condiţii.pdf" target="_blank"><span class="underline font-bold">termenele și condițiile</span></a>  și să îl înscrie apoi împreună cu desenul.
                    <!-- Roditelje, bake, djedove i ostale skrbnike molimo da ispune obrazac za prijavu, svojim potpisom prihvate <a href="static/hr-pravila-i-uvjeti.pdf" target="_blank"><span class="underline font-bold">uvjete sudjelovanja</span></a>  i nama ga predaju zajedno s crtežom.  -->
                   <!--  <button class="zuti_gumb py-4 px-8 rounded mt-4 btn">
                        Preuzmi obrazac za prijavu
                    </button> -->
                </section>
            </div>
        </div>
        <!-- 3 -->
        <div id="girlDesktop" data-aos="fade-right" class="block sm:flex  py-8 sm:py-16">
             
            <div class="w-full sm:w-full mx-auto sm:mr-auto block sm:flex text-left">
                   <span class="pr-6 pt-32 "> <img src="@/assets/3.svg" alt="3"></span>
                <section class="w-full sm:w-1/2 sm:w-2/6 px-0 sm:px-3 mx-auto text-center">
                    <img class="mala-slika" src="@/assets/kakosudjelovati_curica2.jpg" alt="little girl 2">
                </section>
                <section class="w-full sm:w-1/2 sm:w-4/6 pt-0 sm:pt-0 md:pt-32">
                   

                  <!--   Svi će crteži biti objavljeni na ovoj web stranici. Zbog Zakona o zaštiti osobnih podataka, crteži će sadržavati samo ime i godine natjecatelja/ica. <span class="font-bold">IKEA Family članovi </span> bit će obaviješteni o početku online glasovanja putem e-pošte. Svaki će član moći glasovati samo jednom. -->



                      Toate desenele vor fi publicate pe pagina online. Potrivit Regulamentului de Protecție a Datelor Personale, fiecare desen va purta numai numele și vârsta participantului. <span class="font-bold">Membrii IKEA Family</span> vor fi notificați prin e-mail când începe votul online. Fiecare membru are dreptul să voteze o singură dată. 
                </section>
            </div>
           
        </div>
        <!-- 3  Mobile-->
         <div id="girlMobile" data-aos="fade-right" class="block sm:flex  py-8 sm:py-16">
             
            <div class="w-full sm:w-full mx-auto sm:mr-auto block sm:flex text-left">
                   <span class="pr-6 pt-32 "> <img src="@/assets/3.svg"></span>
                
                <section class="w-full sm:w-1/2 sm:w-4/6 pt-0 sm:pt-0 md:pt-32">
                   

                   <!--  Svi će crteži biti objavljeni na ovoj web stranici. Zbog Zakona o zaštiti osobnih podataka, crteži će sadržavati samo ime i godine natjecatelja/ica. <span class="font-bold">IKEA Family članovi </span> bit će obaviješteni o početku online glasovanja putem e-pošte. Svaki će član moći glasovati samo jednom. -->


                    Toate desenele vor fi publicate pe pagina online. Potrivit Regulamentului de Protecție a Datelor Personale, fiecare desen va purta numai numele și vârsta participantului. <span class="font-bold">Membrii IKEA Family</span> vor fi notificați prin e-mail când începe votul online. Fiecare membru are dreptul să voteze o singură dată. 
                </section>
                <section class="w-full sm:w-1/2 sm:w-2/6 px-0 sm:px-3 mx-auto text-center">
                    <img class="mala-slika" src="@/assets/kakosudjelovati_curica2.jpg" alt="little girl 3">
                </section>
            </div>
           
        </div>
        <!--  4 -->
        <div data-aos="fade-left" class="block sm:flex  py-16">
            <div class="w-full sm:w-4/5 mx-auto block sm:flex text-left">
                   <span class="pr-6 pt-2"> <img src="@/assets/4.svg" alt="4"></span>
                <section class="w-5/6">

                 <!--    U svakoj će zemlji <span class="font-bold">50 crteža</span> s najviše online glasova IKEA Family članova ući u finale. <span class="font-bold">Od toga će 15 najboljih crteža (koje će kod nas odabrati IKEA Hrvatska) biti poslano u Švedsku.</span> Zatim će posebni IKEA žiri nakon veljače 2020. odabrati i objaviti 6 međunarodnih pobjednika čiji će crteži biti pretvoreni u <span class="font-bold">SAGOSKATT</span> plišane igračke. One će se u ograničenim količinama početi prodavati u jesen 2020. u robnim kućama IKEA diljem svijeta. -->




                 În fiecare țară, cele mai bine <span class="font-bold">votate 50 de desene</span> vor intra în finale.<span class="font-bold"> Dintre aceste 50 de desene, cele mai bune 15 (alese de IKEA România) vor fi trimise în Suedia.</span> După februarie 2020, un juriu special IKEA va alege și va publica 6 câștigători internaționali ale căror desene vor fi transformate în jucării de pluș  <span class="font-bold">SAGOSKATT.</span> Până la începtul toamnei 2020, acestea vor apărea în magazinele IKEA din toată lumea, în ediție limitată.
                </section>
            </div>
        </div>
        
       </div>
<img class="slika_curica_80" src="@/assets/kakosudjelovati_curica3.jpg" alt="little girl 4">
        <Footer3 />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer3 from '@/components/Footer3.vue'
// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer3
        
    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
   metaInfo: {
        title: 'Să ne jucăm - Cum participi',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Pot participa la concurs doar copiii ai căror părinți sau tutori sunt membri în programul IKEA Family.' },
            { name: "keywords", content: "ikea family, să ne jucăm, regulament, cum participi, desene" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>