<template>
    <div id="objavadobitnika">
        <Header />
        <div class="container px-8  mx-auto">
            <!-- Good cause-->

            <div class="flex mb-4 pb-8 pt-8">
                <div class="w-3/4 mx-auto text-center">
                    <h2 class="naslov pb-5">15 desene selectate</h2>
                    <!--  <p>Pridruži se proglašenju 15 najboljih crteža i veseloj proslavi koja će se održati 11.12.2019. u IKEA restoranu, 18-20h.</p> -->
                    <!-- <p>Concursul încă este în desfășurare.</p> -->
                </div>

            </div>
             <div class="flex favoriti_container flex-wrap mb-4 pb-32 pt-8">
                <!-- :ref="'modal' + favorit.catID" -->
                <div v-for="(favorit, index) in favoriti" class="w-full sm:w-1/2 md:w-1/3 px-4 sm:px-4 mx-auto favorit">
                    <a>
                        <div :class="favorit.klasa">
                            <img :src="favorit.imageModal" class="object-contain w-full slikaFavorit pb-6 pt-6 sm:pb-0 sm:pt-0" alt="favorite">
                        </div>
                        <div class="w-2/3 mx-auto">
                        <div class="flex">
                            <div class="w-full imeslike">{{favorit.imeSlike}}</div>
                            <!-- <div class="w-full glasovi"><img :src="favorit.heartIcon" class="inline pr-3">{{favorit.brojGlasova}}</div> -->
                        </div>
                        <div class="flex">
                            <div class="w-full  autor">{{favorit.autor}}</div>
                        </div>
                         </div>
                    </a>
                </div>
            </div>
        </div>
        <Footer2 />
       
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer2 from '@/components/Footer2.vue'
// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer2

    },
    data() {
         return {
            favoriti: [{
                    imeSlike: "Unipandaoitakittycorp",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 1,
                    catIDname: 'smjestaj',
                    brojGlasova: 213411,
                    autor: 'Sara Ana Maria C.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROB_5Calota-Sara-Ana-Maria.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "Monstruletul jucaus",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 2,
                    catIDname: 'hrana',
                    brojGlasova: 2111,
                    autor: 'Mihnea D. P. ',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROB_16Mihnea-dobrai-Palamari.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "Milky",
                    imageName: require("@/assets/slika-favorita2.png"),
                    catID: 3,
                    catIDname: 'kultura',
                    brojGlasova: 2111,
                    autor: 'Michelle V.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROB_19Vicol-Michelle.jpg"),
                    klasa: "bg3"
                },
                {
                    imeSlike: "Unicornul iubirii",
                    imageName: require("@/assets/slika-favorita3.png"),
                    catID: 4,
                    catIDname: 'aktivni',
                    brojGlasova: 2111,
                    autor: 'Isabel Stefania E. ',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROB_21Isabel-Stefania-Enache.jpg"),
                    klasa: "bg4"
                },
                {
                    imeSlike: "Jolli",
                    imageName: require("@/assets/slika-favorita4.png"),
                    catID: 5,
                    catIDname: 'priroda',
                    brojGlasova: 2111,
                    autor: 'Natalia D.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROB_25Natalia-Dragan.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "Pernuta Rudolf",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 6,
                    catIDname: 'zdravlje',
                    brojGlasova: 2111,
                    autor: 'Maria O. S.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROB_34Oprea-Sovagau-Maria.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "Joby",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 7,
                    brojGlasova: 2111,
                    autor: 'Sonia S.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROB_42Sonia-Smaranda.jpg"),
                    klasa: "bg3"
                },
                {
                    imeSlike: "Astocat",
                    imageName: require("@/assets/slika-favorita2.png"),
                    catID: 8,
                    brojGlasova: 2111,
                    autor: 'Sofia P.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROB_43Sofia-Popescu.jpg"),
                    klasa: "bg4"
                },
                {
                    imeSlike: "Rudynos",
                    imageName: require("@/assets/slika-favorita3.png"),
                    catID: 9,
                    brojGlasova: 2111,
                    autor: 'Luana P.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROP_1-Rudynos-1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "Pisicanar",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 10,
                    catIDname: 'smjestaj',
                    brojGlasova: 213411,
                    autor: 'Medeea L.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROP_2-Pisicanar-1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "Dragodeer",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 11,
                    catIDname: 'hrana',
                    brojGlasova: 2111,
                    autor: 'Ana Ilinca S.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROP_7-Dragodeer-1.jpg"),
                    klasa: "bg3"
                },
                {
                    imeSlike: "Puf",
                    imageName: require("@/assets/slika-favorita2.png"),
                    catID: 12,
                    catIDname: 'kultura',
                    brojGlasova: 2111,
                    autor: 'Andrei D.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROP_12-Puf-1.jpg"),
                    klasa: "bg4"

                },
                {
                    imeSlike: "Tommy",
                    imageName: require("@/assets/slika-favorita3.png"),
                    catID: 13,
                    catIDname: 'aktivni',
                    brojGlasova: 2111,
                    autor: 'Ilinca V.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROP_19-Tommy-1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "Ursuletu Mirnel",
                    imageName: require("@/assets/slika-favorita4.png"),
                    catID: 14,
                    catIDname: 'priroda',
                    brojGlasova: 2111,
                    autor: 'Thea N.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROP_31-Ursuletu-Mirnel-1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "Pinguinul Calator",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 15,
                    catIDname: 'zdravlje',
                    brojGlasova: 2111,
                    autor: 'Toma P.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/ROP_43-Pinguinul-calator-1.jpg"),
                    klasa: "bg3"
                }



            ]
        };
    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
   metaInfo: {
        title: 'Să ne jucăm - Câștigători 2019.',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Vezi cele 15 desene alese. ' },
            { name: "keywords", content: "ikea, să ne jucăm, câștigători, desene, 2019" }
        ]

    }

}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>