<template>
    <div id="pravila">
        <Header />
        <h2 class="naslov pt-8">Cerinţe de înscriere</h2>
        <img class="max-w-full pattern_slika" src="@/assets/pattern.svg" alt="pattern">
        <div class="container px-8  mx-auto">
            <!-- Lets play-->
            <div class="flex mb-4 pb-8 pt-16">
                <div class="w-full mx-auto text-center">
                    <div class="mx-auto text-left">
                        <p class="podnaslov font-bold">TERMENI & CONDIŢII</p>
                        <p class="podnaslov font-bold">COMPETIŢIA JUCĂRIILOR DE PLUŞ IKEA 2019 </p>

                        <p></br>1.	IKEA Romania S.A., cu sediul în Bucureşti, Şos. Bucureşti – Ploieşti 42A, înregistrată la Registrul Comerţului cu numărul J40/8161/2005, având codul unic de înregistrare (CUI) 17547941, în colaborare cu IKEA of Sweden AB, P.O. BOX 317, 83020 Hackås, Sweden, TVA: SE5560747551, denumită în continuare IKEA.</p>
                        <p>2.	Concursul va avea loc în magazinele IKEA Băneasa, Şos. Bucureşti – Ploieşti nr. 42A, Sector 1 şi IKEA Pallady, Bd. Theodor Pallady, Sector 3, Bucureşti în perioada: 09 – 24. Noiembrie 2019, după cum urmează: în magazinul din Băneasa, în fața Smaland, la măsuța MAMMUT, de L-V, între orele 10-20 sau în zona măsuțelor de la departamentul copii, etaj 1, S-D, între orele 11-15, iar în magazinul Pallady, în fața Smaland, de L-D, între orele 10:00-20:00 sau în zona măsuțelor pentru desenat de la departamentul copii, etaj 2, L-D, între orele 10:00–20:00.</p>
                        <p>3.	Concursul se adresează copiilor care au părinţi sau tutore membru IKEA Family. Copiii trebuie să aibă vârsta de până la 12 ani. Angajaţii IKEA şi rudele de gradul I nu pot participa la acest concurs. </p>
                        <p>4.	IKEA îşi rezervă dreptul de a solicita oricărui membru IKEA Family care se înscrie la acest concurs să prezinte dovada identităţii sale şi/sau eligibilitatea. Dacă persoana căreia I se solicită acest lucru nu poate prezenta un asemenea act, IKEA îşi rezervă dreptul de a descalifica participantul.</p>
                        <p>5.	Nu este nevoie de vreo achiziţie sau altă taxă pentru a participa la concurs.  </p>
                        <p>6.	Toate persoanele care doresc să participle la acest concurs trebuie să aibă consimţământul părintelui/tutorelui pentru a face acest lucru. Consimţământul este implicit în cazul în care părintele/tutorele însoţeşte copilul la concurs şi a făcut dovada apartenenţei la clubul IKEA Family. Este necesară prezenţa unui părinte pe durata concursului. </p>
                        <p>7.	Se poate face doar o singură înscriere pentru fiecare copil. Participantul nu poate fi asistat direct de către părinte, tutore sau o terţă parte pe parcursul concursului. În caz contrar, participanţii vor fi descalificaţi. Înregistrările după data limită admisă sau cele incomplete vor fi descalificate. </p>
                          <p>8.	Desenul fiecărui participant trebuie să fie realizat pe o coală A4 albă. Fiecare participant şi părintele/tutorele trebuie să scrie pe spatele desenului numele, prenumele, vârsta şi numărul de card IKEA Family al părintelui/tutorelui precum şi datele de contact.</p>
                        <p class="podnaslov font-bold">Cum participi</p>
                      
                        <p>9.	Pentru a lua parte la competiţie în persoană, participanţii vor fi invitaţi la magazinul IKEA, unde vor desena cum arată jucăria de pluş la care visează.</p>
                        <p>10. 	O listă scurtă de 50 de desene (“finalişti pentru fiecare magazin”) va fi înaintată de magazinul IKEA către Service office. Cei 50 de finalişti vor fi aleşi pe baza votului online de către membrii IKEA Family.</p>
                        <p>11. 	Pe baza finaliştilor la nivel de magazin, se va înainta o listă de 15 desene (“finalişti la nivel de ţară”) de către Service Office. Cei 15 finalişti pe ţară sunt aleşi pe baza voturilor unui juriu independent compus din angajaţi IKEA cu competenţe în domeniu.</p>
                        <p>12. 	Cele 15 desene la nivel de ţară (din cele participante la competiţie) vor fi apoi trimise la IKEA of Sweden AB unde un juriu va alege 6 desene câştigătoare la nivel international (“câştigători la nivel global”). Juriul este compus din dezvoltatori de produse pentru copii (Product Developer, Product Development Engineer, Product designer, Supply planner, Commercial team representative) de la IKEA of Sweden AB. </p>
                         <p>13.	Criteriile de jurizare şi de alegere a desenelor se bazează pe noutate, unicitate, potential comercial şi posibilitatea de a fi fabricate ca şi jucării de plus.</p>
                        <p class="podnaslov font-bold">Premii</p>
                       
                        <p>14.	Toate desenele participante la nivel de magazin vor primi o diploma şi un cadou în valoare de 9,90 lei.</p>
                        <p>15.	Toţi câştigătorii la nivel global vor primi o jucărie de plus creată de IKEA în baza desenului lor, cu valoarea de 9,90 lei fiecare. Vor fi 6 câştigători globali în total. Nu toţi câştigătorii la nivel de magazine sau ţară vor deveni câştigători globali şi, drept urmare, nu vor primi o jucărie de plus pe baza desenului lor. </p>
                        <p>16.	Premiile nu sunt negociabile sau transferabile şi nu poţi primi contravaloarea lor în bani. Nu se vor acorda bani sau alte recompense în schimbul premiului complet sau a oricărei parte a acestuia. IKEA îşi rezervă dreptul de a înlocui premiul cu un altul cu valoare similară, în situaţii excepţionale. Orice taxe care au legătură cu premiul vor fi achitate de către câştigător.</p>
                        <p>17.	IKEA îşi rezervă dreptul absolut de a alege un alt câştigător şi de a oferi premiul unui alt participant în cazul în care sunt motive rezonabile de a crede că un participant a avut un comportament inconsistent sau opus termenilor şi condiţiilor, sau a acţionat într-un mod pe care IKEA îl consideră necorespunzător, ilegal sau ofensator.  </p>
                        <p>18.  18.	Participanţii selectaţi şi câştigătorul global vor fi notificaţi prin email şi telefonic.</p>
                         <p>19.  19.	IKEA va decide cine sunt câştigătorii, iar acastă decizie este finală. IKEA nu se va angaja în nicio formă de corespondenţă cu vreun membru IKEA Family privind câştigătorii competiţiei.</p>
                        <p class="podnaslov font-bold">Îndatoriri şi autorizaţii</p>
                       
                        <p>20.	Promotorul acestei competiţii este IKEA Romania S.A., cu sediul în Bucureşti, Şos. Bucureşti – Ploieşti 42A, etaj 1, Sector 1. Orice întrebări sau nelămuriri legate de competiţie vor fi trimise către Marketing IKEA. Detalii de contact: oana.turutica@ingka.ikea.com</p>
                        <p>21.  I21.	IKEA nu îşi asumă responsabilitatea pentru erorile de reţea, computer sau software de orice tip sau de întârzieri în trimiterea sau primirea emailurilor. Dovada trimiterii nu reprezintă dovada primirii emailului. </p>
                        <p>22.  22.	IKEA nu va fi responsabilă pentru nicio pierdere cauzată de anularea, amânarea, întârzierea sau schimbările de premii care nu sunt sub controlul direct al companiei sau pentru orice eroare cauzată de un furnizor terţ. IKEA nu exclude şi nu limitează responsabilitatea sub nicio formă în cazul decesului sau vătămării cauzate de neglijenţă sau fraudă cauzate de circumstanţe neprevăzute. </p>
                        <p class="podnaslov font-bold">Date personale</P>
                        
                        <p>23.	Pentru a intra în această competiţie, participanţii şi părintele/gardianul (după caz) vor trebui să ofere anumite date personale inclusiv numele şi vârsta participantului, o adresă de email de contact şi un număr de telefon şi numărul de membru IKEA Family al părintelui sau tutorelui. IKEA va controla aceste date personale şi le va folosi în scopul organizării competiţiei şi pentru a contacta participanţii care se află pe lista scurtă sau sunt câştigători. Numele, vârsta şi desenul vor fi de asemenea folosite în scopuri de promovare pentru produsele IKEA precum şi pentru competiţie. Pentru cei 6 câştigători globali, se va realiza un interviu cu fiecare în parte iar acesta va fi folosit în scopuri de marketing şi comunicare a competiţiei.  </p>
                        <p>24.	Dacă un desen este câştigător, IKEA va trimite respectivul desen împreună cu datele personale colectate la IKEA of Sweden, care va procesa datele personale în scopul jurizării pentru a alege cei 5 câştigători internaţionali. Adresa de reşedinţă a celor 5 câştigători globali va fi transmisă unei terţe părţi în scopul livrării premiului la domiciliul fiecărui câştigător.</p>
                        <p>25.	Datele personale sunt procesate în timpul competiţiei până la alegerea câştigătorilor globali, inclusiv până la data de începere a comercializării jucăriilor câştigătoare. Datele personale vor fi de asemenea păstrate pe perioada de timp necesară pentru a invita participanţii la competiţia de anul următor. Numele, vârsta, desenul, interviul şi ţara de origine a celor 6 câştigători globali vor fi păstrate de IKEA of Sweden cât timp este necesar în scopuri de marketing şi comunicare pentru IKEA şi familia de produse SAGOSKATT şi vor fi comunicate către alte companii din cadrul IKEA Group, Inter IKEA Group şi francizele IKEA care vor procesa datele în aceleaşi scopuri.</p>
                        <p>26.	IKEA procesează datele personale în baza unui interes legitim de a administra competiţia şi pentru a contacta câştigătorii. Prin înscrierea la această competiţie şi transmiterea datelor personale, fiecare participant şi părintele/tutorele confirmă că au înţeles că datele personale şi desenele vor fi procesate în scopurile descrise mai sus. Participanţii (şi părinţii sau tutorii) au dreptul de a accesa datele lor personale contactând persoana desemnată la punctul 19 şi au dreptul de a corecta datele incorecte. De asemenea, participanţii şi părinţii/tutorii au dreptul de a şterge datele personale (‘dreptul de a fi uitat’), dreptul de a restricţiona procesarea, dreptul la portabilitatea datelor, dreptul de a obiecta la activitatea de procesare a datelor realizată de IKEA şi dreptul de a nu fi supuse la un process automat de luare a unei decizii. Orice solicitare privind aceste probleme va fi adresată persoanei de contact specificată la punctul 19. Participanţii şi părinţii/tutorii legali au dreptul de a depune plângere la autoritatea naţională privind protecţia datelor. </p>
                        <p>27.	Furnizarea de date personale privind numele, vârsta participanţilor, desenul şi numărul de card IKEA Family al părintelui/tutorelui legal al participantului este obligatoriu pentru participarea la Competiţie.  </p>


                        <p>28.	Detaliile privind premiile, numele câştigătorului şi magazinul IKEA vor fi disponibile după încheierea competiţiei, scriind la adresa de mai jos şi specificând numele şi data competiţiei. </p>

                <p class="podnaslov font-bold">Drepturi de proprietate intelectuală</P>

                        <p>29.	IKEA group, IKEA of Sweden şi orice altă franciză IKEA doresc să publice numele, vârsta şi desenul oricărui participant pe site sau pe alte canale media în scopuri publicitare. Prin intrarea în această competiţie, participanţii şi părintele/tutorele îşi dau acordul, conform cu prevederile Articolului 73 din Codul Civil şi Articolul 89 din Legea nr. 8/1996 privind drepturile de copyright şi alte drepturi conexe ca aceste informaţii să fie folosite în aceste scopuri, fără a fi nevoie de acord viitor, notificare sau compensaţie.. </p>
                        <p>30.	IKEA doreşte să-şi bazeze viitoarele designuri de produs pe desenele înscrise în competiţie de către cei 6 câştigători globali şi să producă o ofertă limitată din aceste designuri, cu scopul de a fi vândute în magazinele-franciză IKEA şi online (în scop comercial). Pentru fiecare jucărie de pluş vândută din această ofertă de produs limitată, IKEA va face o donaţie către o entitate aleasă de către francizaţii IKEA sau  organizaţie IKEA, care susţine copiii aflaţi la nevoie, dezvoltarea copiilor sau dreptul la joacă. </p>
                        <p>31.	Toate lucrările din competiţie trebuie să fie lucrări originale ale participanţilor. Toate drepturile de proprietate intelectuală, inclusiv de copyright şi design ale desenelor participanţilor, inclusiv lucrările câştigătoare şi jucăriile realizate după desenele din competiţie, vor deveni proprietatea IKEA din momentul în care desenele intră în posesia IKEA. </p>
                         <p>32.	Cei 6 participanţi ale căror desene vor fi folosite în scop comercial nu au au niciun drept asupra designului şi nu vor primi nicio remuneraţie, premiu sau beneficiu ca rezultat al folosirii desenului, în afara premiilor primite conform cu termenii şi condiţiile prezente. IKEA nu va dezvolta produse pe baza desenelor necâştigătoare din concurs. În cazul în care unul din cele 6 desene nu poate fi baza pentru realizarea unui produs care să fie manufacturat sau comercializat, IKEA îşi rezervă drepturile de a elimina produsul din oferta de produs care urmează a fi comercializată şi să îl schimbe cu un produs bazat pe alt desen din competiţie.  </p>
                           <p>33.	Această competiţie şi orice dispută sau solicitare care decurge din aceasta sau în legătură cu aceasta, vor fi governate şi gestionate conform cu legea din România.</p>
                           <p>34.	Prin participarea la această competiţie, participanţii acceptă şi sunt de acord cu termenii şi condiţiile.</p>
                    </div>
                </div>
            </div>
            <!-- Gumbi -->
            <!--   <div class="flex">
            <div class="w-1/2 mx-auto text-center">
                <button class="zuti_gumb py-4 px-4 rounded ">
                    Glasaj za svog favorita
                </button><br>
                <button class="plavi_gumb py-4 px-4 rounded ">Kako sudjelovati?</button>
            </div>
        </div> -->
        </div>
        <img class="max-w-full pattern_slika2" src="@/assets/pattern.svg" alt="pattern">
        <Footer3 />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer3 from '@/components/Footer3.vue'
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'nagrade',
    components: {
        Header,
        Footer3,

    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
   metaInfo: {
        title: 'Să ne jucăm - Regulamentul concursului 2019.',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Regulile concursului de desenat IKEA - Să ne jucăm.' },
            { name: "keywords", content: "ikea, să ne jucăm, reguli, desen, jucării, 2019" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>