<template>
    <div id="rasporedcrtanja">
        <Header />
        <div class="container px-8 mx-auto">
            <!-- Good cause-->
            <div class="flex  pb-12 pt-8">
                <div class="w-3/4 mx-auto text-center">
                    <h2 class="naslov">Programul atelierelor de desen  <br>
                        09 – 24. Noiembrie 2019</h2>
                  
                </div>
            </div>
            <!-- Drugi -->
            <div class="flex flex-wrap">
                <div class="w-full sm:w-1/2 text-left">
                    <h2 class="naslov2 text-left">Program IKEA Băneasa 
                    </h2>
                </div>
            </div>
            <hr>
            <div class="grupa2 pt-10 pb-20 pl-3">
                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>Luni- vineri, în fața locului de joacă Småland,<br>
                            la masa MAMMUT
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>10 - 20h
                        </p>
                    </div>
                </div>
            </div>
            <div class="grupa2  pb-20 pl-3">
                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>Sâmbătă- duminică, în zona IKEA pentru copii
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>11 - 15h
                        </p>
                    </div>
                </div>
            </div>
            <!--   <div class="grupa2 pt-10 pb-20 pl-3">
                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>Sâmbătă-duminică, în zona IKEA pentru copii  
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>11 - 20h
                        </p>
                    </div>
                </div>
                
            </div> -->
            <!-- Prvi -->
            <h2 class="naslov2 text-left">Program IKEA Pallady</h2>
            <hr>
            <div class="grupa1 pt-10 pb-20 pl-3">
                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>Luni-duminică, în fața locului de joacă Småland,<br>
                            la masa MAMMUT
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>10 - 20h
                        </p>
                    </div>
                </div>
            </div>
            <div class="grupa1  pb-20 pl-3">
                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>Luni-duminică, în zona IKEA pentru copii
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>10 - 20h
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <Footer />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
    name: 'rasporedcrtanja',
    components: {
        Header,
        Footer

    },
    mounted: function() {
        this.$ga.page({
            path: this.$router.path,
            name: this.$router.name,
            location: window.location.href
        });
    },
     metaInfo: {
        title: 'Să ne jucăm - Program desenat',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Vezi unde și când pot copiii tăi să-și deseneze jucăriile preferate.' },
            { name: "keywords", content: "ikea, să ne jucăm, program, orar" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>