<template>
    <div id="sagoskat">
        <div id="nagrade">
            <Header />
            <div class="container px-8  mx-auto">
                <!-- Lets play-->
                <div class="flex mb-4 pb-8 pt-8">
                    <div class="w-3/4 sm:w-2/3 mx-auto text-center">
                        <h2 class="naslov pb-5">Descoperă jucăriile SAGOSKATT!</h2>
                        <br>
                        În fiecare an, o nouă colecție SAGOSKATT apare în magazinele IKEA. Cea de anul acesta are 6 membri colorați, desenați de copii din toată lume, pentru a înveseli alți copii.
                        <!--  <p>Sve SAGOSKATT igračke stvorene su ne samo za igru i inspiraciju, već i za doprinos plemenitim ciljevima – jer 100 % prihoda od njihove prodaje odlazi u dobrotvorne svrhe za djecu kojoj je pomoć potrebna.</p> -->
                    </div>
                </div>
                <!-- https://stackoverflow.com/questions/42645964/vue-js-anchor-to-div-within-the-same-component -->
                <a href="https://m2.ikea.com/ro/ro/search/products/?q=sagoskatt" target="_blank"><button class="plavi_gumb rounded btn">
                        Află mai multe
                        <!--  <router-link to="/good-cause">Saznaj više</router-link> -->
                    </button></a>
                <!-- <div id="div-id"></div> -->
            </div>
        </div>
        <div id="nagrade2">
            <div class="container mx-auto">
                <div class="flex mb-4 pb-8 pt-8">
                    <div class="w-full sm:w-4/5 mx-auto text-center">
                        <!--  <p>Imamo i <span class="font-bold">sretno čudovište</span> koje će svojim velikim osmijehom i toplim zagrljajem otjerati sva čudovišta koja se kriju u ormaru i pod krevetom.</p>
                            <p><span class="font-bold">Nježna žirafa</span> šarenog repa osvojit će sva dječja (i odrasla) srca, a možda ih i dodatno potaknuti da se zdravo hrane, kao i ona.</p>
                            <p><span class="font-bold">Veseli miš</span> s balonima uvijek je spreman za slavlje i jedva čeka pronaći društvo koje će dijeliti njegovu strast prema igri i zabavi.</p>
                            <p><span class="font-bold">Šarena duga</span> u toplim čarapama podsjeća nas da mašta nikad nema granica. Njezine vesele boje šire radost u svakoj prostoriji u kojoj se nađu.</p><br> -->
                        <!--  //1 -->
                        <div id="heroj-krastavac" data-aos="fade-right" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/krastavac1.png" alt="castravete">
                            </div>
                            <div class="w-full pt-0 sm:pt-20 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">

                                        <span class="font-bold"> <a target="_blank" href="https://m2.ikea.com/ro/ro/p/sagoskatt-jucarie-de-plus-verde-castravete-90462416/">
                                                GURKI</a></span> este un castravete, dar și un supererou! Pe lângă faptul că-și arată limba întruna, tipul ăsta draguț îi inspiră pe copii să îndrăgească și mai mult castraveții.    
                                    </p>
                                </section>
                            </div>
                        </div>
                        <!--  //2 -->
                        <div data-aos="fade-right" class="flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full order-2 sm:order-1 pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
             
                                  <!--   <p>
                                       Mai avem și un <span class="font-bold"><a href="https://m2.ikea.com/ro/ro/p/sagoskatt-jucarie-de-plus-albastru-mnstr-60462408/">monstruleț vesel</a></span>, care își folosește zâmbetul mare și frumos pentru a speria toți ceilalți monștri care s-ar putea ascunde sub pat sau prin alte cotloane. 
                                    </p> -->

                                    <p>Acest 
                                        <span class="font-bold"><a target="_blank" href="https://m2.ikea.com/ro/ro/p/sagoskatt-jucarie-de-plus-albastru-mnstr-60462408/">monstruleț vesel</a></span> e foarte vesel de fapt! Cu zâmbetul lui mare și o îmbrățișarea călduroasă, reușește să-i sperie pe toți ceilalți monștri de sub pat sau de prin alte cotloane.
                                    </p>
                                    
                                </section>


                            </div>
                            <div class="w-full order-1 sm:order-2 sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/cudoviste1.png" alt="monstruleț vesel">
                            </div>
                        </div>
                        <!--  //3 -->
                        <div data-aos="fade-right" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/zirafa1.png" alt="girafa">
                            </div>
                            <div class="w-full  pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">   
                                    
                                        <p>

                                            Această <span class="font-bold"><a target="_blank" href="https://m2.ikea.com/ro/ro/p/sagoskatt-jucarie-de-plus-galben-girafa-80462407/">girafă  năzdrăvană,</a></span> cu a sa coadă colorată, cucerește inimile tuturor copiilor (și adulților) și poate chiar să-i inspire să mănânce mai sănătos, așa cum face și ea.
                                    </p>
                                </section>
                            </div>
                        </div>
                        <!--  //4 -->
                        <div data-aos="fade-right" class="flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full order-2 sm:order-1 pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                 <!--    <p>  Un <span class="font-bold"><a href="https://m2.ikea.com/ro/ro/p/sagoskatt-jucarie-de-plus-robot-00462406/">robot roșu</a> </span> își va folosi ochii mari și curioși pentru a le aminti prietenilor săi că ar trebui să trăiască fiecare zi cu entuziasm pentru de idei și cunoștințe noi. 
                                    </p> -->

                                    <p>
                                        Roboțelul  <span class="font-bold"><a target="_blank" href="https://m2.ikea.com/ro/ro/p/sagoskatt-jucarie-de-plus-robot-00462406/">RULLY</a> </span> e un mare cântăreț și dansator! Iar cu ochii săi mari și curioși, le amintește prietenilor să aibă mereu deschidere pentru idei și cunoștințe noi. 
                                    </p>
                                </section>
                            </div>
                            <div class="w-full order-1 sm:order-2 sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/robot1.png" alt="Roboțelul">
                            </div>
                        </div>
                        <!--  //5 -->
                        <div data-aos="fade-right" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/mis1.png" alt="El este">
                            </div>
                            <div class="w-full pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                   

                                     <p>El este <span class="font-bold"><a target="_blank" href="https://m2.ikea.com/ro/ro/p/sagoskatt-jucarie-de-plus-soricel-cu-baloane-10462415/">JESSE</a></span>, un șoricel vesel, cu baloane după el. Are întotdeauna chef de petreceri și abia așteaptă să-și găsească o gașcă la fel de pasionată de jocuri și distracție.</p>
                                </section>
                            </div>
                        </div>
                        <!--  //6 -->
                        <div data-aos="fade-right" class="flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full order-2 sm:order-1 pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                   

                                    <p><span class="font-bold"><a target="_blank" href="https://m2.ikea.com/ro/ro/p/sagoskatt-perna-curcubeu-40462414/">Curcubeul colorat</a></span>  și purtător de șosete ne amintește că imaginația n-are limite. Culorile sale minunate răspândesc bucurie în fiecare cameră în care se strecoară.</p>
                                </section>
                            </div>
                            <div class="order-1 sm:order-2 w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/duga1.png" alt="Curcubeul colora">
                            </div>
                        </div>
                    </div>
                </div>

                <div data-aos="fade-center" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                    <div class="w-full pt-0 mx-auto block sm:flex text-center">
                        <section class="w-3/5 mx-auto">
                            
                            <p>
                                Toate jucăriile <a target="_blank" href="https://www.ikea.com/ro/ro/search/?query=sagoskatt"><span class="font-bold">SAGOSKATT</span></a> sunt create pentru joacă și inspirație, dar au și un alt scop nobil. 100% din vânzările acestor jucării vor fi donate copiilor defavorizați. 
                            </p>
                        </section>
                    </div>
                </div>
            </div>
            <Footer2 />
        </div>
        <!-- Gumbi -->
        <!--    <div class="flex">
                <div class="w-full mx-auto text-center">
                    <button class="zuti_gumb py-4 px-4 rounded ">
                    <router-link to="/glasuj-za-svog-favorita">Glasaj za svog favorita</router-link>
                    
                </button><br>
                    <button class="plavi_gumb rounded btn">
                        <router-link to="/good-cause">Saznaj više</router-link>
                    </button>
                </div>
            </div> -->
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer2 from '@/components/Footer2.vue'
import Vue from 'vue'
import vueSmoothScroll from 'vue2-smooth-scroll'
Vue.use(vueSmoothScroll)
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer2,

    },
    methods: {
        // scrollMeTo(refName) {
        //     var element = this.$refs[refName];
        //     var top = element.offsetTop;

        //     window.scrollTo(0, top);
        // }
    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
   metaInfo: {
        title: 'Despre colecția SAGOSKATT',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Cea de anul acesta are 6 membri colorați, desenați de copii din toată lume, pentru a înveseli alți copii.' },
            { name: "keywords", content: "ikea, să ne jucăm, jucării, sagoskatt" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>