<template>
    <div id="cookiePolicy">
        <div v-if="!this.$store.state.hideCookie" class="cookieBox">
            <!-- <div class="cookieAlert1"><img style="width: 100%" src="img/cookies.png"></div> -->
            <div v-if="!moreInfo" class="cookieAlert2">
                <h4>Setările cookie</h4>
                <p>IKEA îţi solicită acordul de a folosi cookies pentru o performanţă mai bună, pentru aplicaţiile de social media şi în scop publicitar. Cookies aparţinând social media şi publicitare ale terţilor sunt folosite pentru a îţi oferi funcţionalităţi social media şi materiale publicitare personalizate. Pentru a obţine mai multe informaţii şi pentru a edita preferinţele, apasă butonul ‘mai multe’ sau intră în meniul "Cookie Settings" din partea de jos a paginii. Pentru a afla mai multe informaţii despre cookies şi despre procesarea datelor tale personale, citeşte Politica de Confidenţialitate & Cookies. Accepţi aceste cookies şi procesarea datelor cu caracter personal?</p><a target="_blank" href="https://www.ikea.com/ms/ro_ro/privacy_policy/privacy_policy.html">Politica de Confidenţialitate </a><span class="separator"> | </span><a target="_blank" href="https://www.ikea.com/ms/ro_ro/privacy_policy/cookie_policy.html"> Cookie</a>
            </div>
            <!-- //VIŠE -->
            <div v-if="moreInfo" class="cookieMainLeft">
                <h3 class="cookieHeadline">Setările tale cookie</h3>
                <div class="cookieSection"><input id="check-disabled" type="checkbox" checked="" class="inputCookiea" disabled="">
                    <p style=""><strong style="color: #FF671D">Funcţionalitate</strong><br>Aceste cookies sunt necesare pentru funcţionarea de bază a site-ului şi sunt întotdeauna autorizate. Include cookies care permit ca preferinţele tale să fie memorate când navighezi pe site la fiecare sesiune.<br><br></p>
                </div>
                <div class="cookieSection"><input @change="checkPerformanceCookies(), checkPerformance = !checkPerformance" id="preformanceCookie" type="checkbox" class="inputCookiea">
                    <p style=""><strong>Performanţă</strong><br>Aceste cookies ne permit să îmbunătăţinm funcţionalitatea site-ului urmărind utilizarea acestuia. Ne ajută de asemenea să îţi oferim o experienţă cât mai bună pe site. <br><br></p>
                </div>
                <div class="cookieSection"><input @change="checkSocial(), socialCookie = !socialCookie" id="socialCookie" type="checkbox" class="inputCookie">
                    <p style=""><strong>Social Media şi Publicitate</strong><br>Cookies pentru social media oferă posibilitatea de a te conecta cu reţelele tale sociale şi de a partaja conţinut de pe site-ul nostru în social media. Cookies pentru publicitate (ale unor terţi) colectează înformaţii pentru a personaliza mai bine materialele publicitare conform cu preferinţele tale, atât pe site-ul IKEA cât şi în afara acestuia. În anumite cazuri, aceste cookies implică procesarea datelor tale cu caracter personal. Pentru mai multe informaţii despre procesarea datelor cu caracter personal, citeşte Politica de Confidenţialitate & Cookies. De-selectarea acestor cookies poate conduce la afişarea unor materiale publicitare care nu sunt relevante pentru tine sau nu le poţi lega eficient cu Facebook, Twitter sau alte reţele de socializare şi/sau nu îţi permit să partajezi conţinutul pe social media.

</p>
                </div>
                <div class="cookieSectionBot">
                    <p>Îţi poţi schimba oricând preferinţele intrând în meniul "Cookie Settings" din partea de jos a paginii. Citeşte Politica de Confidenţialitate & Cookies pentru informaţii detaliate.</p>
                </div>
            </div>
            <div class="cookieAlert3">
                <div v-if="!moreInfo">
                    <!-- onclick="SetAllStatus()" -->
                    <button @click="SetAllStatus">ACCEPT</button>
                    <!--  onclick="cookieSettings()" -->
                    <button @click="moreInfoClick" class="moreInfo">MAI MULTE</button>
                </div>
                <!-- onclick="checkBoxStatus()"  -->
                <div v-if="moreInfo">
                    <button class="doneButton" @click="checkBoxStatus">GATA</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>


export default {
    name: 'Cookie',
    props: {
        msg: String
    },
    data() {
        return {
            moreInfo: false,
            
            socialCookie: false,
            checkPerformance: false
        }
    },
    // https://matteogabriele.gitbooks.io/vue-analytics/content/docs/installation.html
    mounted() {
      

       
         // this.checkBoxStatus() 
        console.log(this.$cookie.get('cookiePolicyA'))
        this.checkCookie()
    },
    methods: {
        test() {
            console.log('test')

        },
        moreInfoClick() {
            console.log('moreInfoClick')
            this.moreInfo = true
            // To delete a cookie use
            // Vue.$ga.enable()
        },
        checkPerformanceCookies() {
            console.log('checkPerformanceCookies')
            console.log(this.checkPerformance)

            if (this.checkPerformance  === true) {

                this.$cookie.set('preformanceCookie', 'YES', 365);
                this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }
            if (this.checkPerformance  === false) {
                 this.$cookie.delete('preformanceCookie', 'NO', 365);
                this.$cookie.delete('cookiePolicyA', 'Accepted', 365);
            } 

        },
        checkSocial() {
            console.log('checkSocial')
            console.log(this.socialCookie)
            // console.log(preformanceCookie)
        },
        checkCookie() {
            console.log('Check Cookie')

            var cookie = this.$cookie.get('cookiePolicyA');

            // var cookie = getCookie("cookiePolicyA");
            var preformance = this.$cookie.get('preformance');
            var social = this.$cookie.get('social');

            if (preformance == "YES") {
                // addGA();
                 this.$ga.enable();
                 // alert('Tracking enabled');
            }

            if (social == "YES") {
                // addSocial();
            }

            if (cookie != "" && preformance == "NO") {
                // removeGA();
                // this.$ga.disable();
                 this.$ga.disable()
                // alert('Tracking disabled');
            }

            if (cookie != "" && social == "NO") {
                // removeSocial();
            }
            

            if (cookie == "" || cookie == null) {
                
                this.$store.state.hideCookie = false
            }
            if (cookie == "Accepted") {
                // $("#cookiePolicy").hide();
                this.$store.state.hideCookie = true
            }

            

        },
        SetAllStatus() {
            // console.log('SetAllStatus')
            // var mainCookie = "Accepted";


            // setCookie("preformance", cookie, 365);
            // setCookie("social", cookie, 365);
            // setCookie("cookiePolicyA", mainCookie, 365);
           
            this.$cookie.set('socialCookie', 'YES', 365);
            this.$cookie.set('preformanceCookie', 'YES', 365);
            this.$cookie.set('cookiePolicyA', 'Accepted', 365);

            this.checkCookie()
            this.$store.state.hideCookie = true
        },
        checkBoxStatus() {
            console.log('checkBoxStatus')
            
            //         var social = $('#socialCookie').is(':checked');
            // var analitycs = $('#preformanceCookie').is(':checked');
            // var cookie = "YES";
            // var mainCookie = "Accepted";
            if (this.socialCookie) {
                console.log('socialCookieTrue')
                this.$cookie.set('socialCookie', 'YES', 365);
                 this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }
            if (this.checkPerformance) {
                console.log('checkPerformanceTrue')
                this.$cookie.set('preformanceCookie', 'YES', 365);
                 this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }
            if (!this.socialCookie) {
                console.log('socialCookieFalse')
                 this.$cookie.set('socialCookie', 'NO', 365);
                 this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }
            if (!this.checkPerformance) {
                console.log('checkPerformanceFalse')

                 //Makni analitiku ako maknemo gumb
                this.$cookie.delete('_gid', 'Deleted', -365);
                this.$cookie.delete('_ga', 'Deleted', -365);

                  this.$cookie.set('preformanceCookie', 'NO', 365);
                 this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }

            // if ( social == 1 ){
            //     setCookie("social", cookie, 365);
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }
            // if (analitycs == 1 ){
            //     setCookie("preformance", cookie, 365);
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }
            // if ( social == 0 ){
            //     setCookie("social", "NO", 365);
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }
            // if (analitycs == 0 ){
            //     setCookie("preformance", "NO", 365);
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }
            // else {
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }

            // checkCookie()


            
            this.checkCookie()
            this.$store.state.hideCookie = true
        }

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>