<template>
    <div class="footer-container">
        <footer class="wrapper flex justify-between container mx-auto pb-8">
            <ul class="text-left">
                            <li>
                                <router-link to="/"><span><img src="@/assets/arrow.svg" alt="arrow">Să ne jucăm</span></router-link>
                            </li>
                            <div class="masta">
                                <li>
                                    <router-link to="/despre-colecția-sagoskatt"><span><img src="@/assets/arrow.svg" alt="arrow">Despre colecția SAGOSKATT</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/cum-participi"><span><img src="@/assets/arrow.svg" alt="arrow">Cum participi</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/votează-ți-desenul-preferat"><span><img src="@/assets/arrow.svg">Votează-ți desenul preferat</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/programul-atelierelor-de-desen"><span><img src="@/assets/arrow.svg" alt="arrow">Programul atelierelor de desen</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/recompense"><span><img src="@/assets/arrow.svg" alt="arrow">Recompense</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/anunțarea-câștigătorilor"><span><img src="@/assets/arrow.svg">Anunțarea câștigătorilor</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/norme"><span><img src="@/assets/arrow.svg" alt="arrow">Norme</span></router-link>
                                </li>
                                <li>
                                <router-link to="/votează-pentru-dreptul-la-copilărie"><span><img src="@/assets/arrow.svg">Votează pentru dreptul la copilărie</span></router-link>
                            </li>
                            </div>
                           <!--  <li>
                                <router-link to="/votează-pentru-dreptul-la-copilărie!"><span><img src="@/assets/arrow.svg">Votează pentru dreptul la copilărie!</span></router-link>
                            </li> -->
                            <div class="masta">
                               <!--  <li>
                                    <router-link to="/odaberi-humanitarnu-udrugu"><span><img src="@/assets/arrow.svg">Odaberi humanitarnu udrugu</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/pravila"><span><img src="@/assets/arrow.svg">Pravila</span></router-link>
                                </li> -->
                            </div>
                        </ul>
            
            <div class="pt-12 pr-16" id="animation_container" style="width:190px; height:160px">
               <iframe width="160" height="160" src="./animacije/600x600_Music/Music_animation_600x600.html" frameborder="0" allowfullscreen></iframe>
            </div>
         
        </footer>
        <div class="cookies">
            <div class="container  mx-auto flex justify-start sm:justify-between  py-4">
                <div class="flex items-left text-white mr-6 ikea-logo">
                    <img src="@/assets/Ikea_logo.svg" alt="Ikea logo">
                </div>
                <div class="flex absolute sm:static pl-6 sm:pl-0 flex-col items-start sm:items-center pr-12">
                    <div>
                        <a @click="changehideCookieA" class="px-0 sm:px-1" href="#">Setări cookie</a>  <!-- <a class="px-1" href="#">izbriši svoj glas</a> -->
                    </div>
                    <div style="font-size: 12px">
                        IKEA Systems B.V. 2019
                    </div>
                </div>
                <div class="flex   text-white mr-6">
                    1
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Footer',
    props: {
        msg: String
    },
       mounted () {
  window.scrollTo(0, 0)
},
methods: {
        changehideCookieA(){
           // console.log('test')
           console.log(this)
            // return this.$store.$state.hideCookie = false;
            this.$store.commit('changehideCookie', false)
        }
    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
// FOOTER
.footer-container {
    // position: fixed;
    //    bottom: 0px;
    // color: black;
    // padding-top: 3rem;
    // width: 100%;

    // ul {
    //     a {
    //         text-decoration: underline;

    //         &:hover {
    //             font-weight: bold;
    //         }

    //         &:active {
    //             font-weight: bold;
    //         }
    //     }
    // }

    // .cookies {
    //     background: white;

    //     a {
    //         text-decoration: underline;
    //     }
    // }

    // .ikea-logo {
    //     position: relative;
    //     top: -54px;
    // }

    // .doodle{
    //  position: relative;
    //     top: -113px;
    // }



}
</style>