<template>
    <header class="header">
        <div class="nav_kakosudjelovati">
            <div class="container mx-auto">
                <nav class="flex items-center justify-between flex-wrap p-8">
                    <div class="flex items-left text-white mr-6">
                        <router-link to="/"><img src="@/assets/Home_icon.svg" alt="Home"></router-link>
                    </div>
                    <div class="flex items-center text-white mr-6">
                        <a target="_blank" href="https://www.ikea.com/ro/ro/"><img src="@/assets/Ikea_logo.svg" alt="Ikea logo"></a>
                    </div>
                    <!--  <div class="flex items-right text-white mr-6">
                    <img src="@/assets/Hamburger.svg">
                </div> -->
                    <!-- HAMBURGER -->
                    <!-- <p v-on:click="isActive = !isActive">
                        <tasty-burger-button />
                    </p> -->
                    <p v-on:click="isActive = !isActive">
                        <tasty-burger-button />
                    </p>
                    <!--  <p id="navParagraf" v-on:click="isActive = !isActive"> <tasty-burger-button /> </p> -->
                    <!-- HAMBURGER -->
                    <!--   <p id="navParagraf" v-on:click="isActive = !isActive"> <tasty-burger-button /> </p> -->
                </nav>
            </div>
        </div>
        <!-- NAV LINKS -->
        <transition name="transform">
            <div v-if="isActive" class="linkHolderMobile">
                <div class="navWrapper">
                    <div class="linkHolder">
                        <ul class="text-left">
                            <li>
                                <router-link to="/"><span><img src="@/assets/arrow.svg" alt="arrow">Să ne jucăm</span></router-link>
                            </li>
                            <div class="masta">
                                <li>
                                    <router-link to="/despre-colecția-sagoskatt"><span><img src="@/assets/arrow.svg" alt="arrow">Despre colecția SAGOSKATT</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/cum-participi"><span><img src="@/assets/arrow.svg" alt="arrow">Cum participi</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/votează-ți-desenul-preferat"><span><img src="@/assets/arrow.svg">Votează-ți desenul preferat</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/programul-atelierelor-de-desen"><span><img src="@/assets/arrow.svg" alt="arrow">Programul atelierelor de desen</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/recompense"><span><img src="@/assets/arrow.svg" alt="arrow">Recompense</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/anunțarea-câștigătorilor"><span><img src="@/assets/arrow.svg">Anunțarea câștigătorilor</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/norme"><span><img src="@/assets/arrow.svg" alt="arrow">Norme</span></router-link>
                                </li>
                                <li>
                                <router-link to="/votează-pentru-dreptul-la-copilărie"><span><img src="@/assets/arrow.svg">Votează pentru dreptul la copilărie</span></router-link>
                            </li>
                            </div>
                           <!--  <li>
                                <router-link to="/votează-pentru-dreptul-la-copilărie!"><span><img src="@/assets/arrow.svg">Votează pentru dreptul la copilărie!</span></router-link>
                            </li> -->
                            <div class="masta">
                               <!--  <li>
                                    <router-link to="/odaberi-humanitarnu-udrugu"><span><img src="@/assets/arrow.svg">Odaberi humanitarnu udrugu</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/pravila"><span><img src="@/assets/arrow.svg">Pravila</span></router-link>
                                </li> -->
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </transition>
        <CookiePolicy></CookiePolicy>
        <!-- Cookie -->
    </header>
</template>
<script>
import CookiePolicy from '@/components/CookiePolicy.vue'

export default {
    name: 'Header',
    props: {
        msg: String
    },
    components: {
        CookiePolicy
    },
    mounted() {
        // function setCookie(cname, cvalue, exdays) {
        //     var d = new Date();
        //     d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        //     var expires = "expires=" + d.toGMTString();
        //     document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        // }

        // function getCookie(cname) {
        //     var name = cname + "=";
        //     var decodedCookie = decodeURIComponent(document.cookie);
        //     var ca = decodedCookie.split(';');
        //     for (var i = 0; i < ca.length; i++) {
        //         var c = ca[i];
        //         while (c.charAt(0) == ' ') {
        //             c = c.substring(1);
        //         }
        //         if (c.indexOf(name) == 0) {
        //             return c.substring(name.length, c.length);
        //         }
        //     }
        //     return "";
        // }
       
    },
    data() {
        return {
            buttonType: 'collapse',
            isActive: false,
            size: 'sm',
            color: 'black',
            activeColor: 'black'
        }
    },

}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
 No newline at end of file
